$active-color-1: #51aeea;
$active-color-2: #a0d2f3;
$bg-color-1: #d2e2ec;

@mixin vert-panel($space) {
  > * {
    margin-bottom: $space;
  }

  > *:last-child {
    margin-bottom: 0px;
  }
}

@mixin horz-panel($space) {
  > * {
    vertical-align: bottom;
    margin-right: $space;
  }

  > *:last-child {
    margin-right: 0px;
  }
}

// vert-panel

.vert-panel-1 {
  @include vert-panel(4px);
}

.vert-panel-2 {
  @include vert-panel(8px);
}

.vert-panel-3 {
  @include vert-panel(12px);
}

.vert-panel-5px {
  @include vert-panel(5px);
}

// horz-panel

.horz-panel-1 {
  @include horz-panel(4px);
}

.horz-panel-2 {
  @include horz-panel(8px);
}

.horz-panel-3 {
  @include horz-panel(12px);
}

.horz-panel-5px {
  @include horz-panel(5px);
}

// card

@mixin card($padding) {
  padding: $padding;
  border: 1px solid silver;
  @extend .background-1;
}

.card-1 {
  @include card(5px);
}

.card-2 {
  @include card(8px);
}

.card-3 {
  @include card(14px);
}

.inline-block {
  display: inline-block;
}

.inline-flex {
  display: inline-flex;
}

// round-border
.round-border-1 {
  border-radius: 2px;
}

.round-border-2 {
  border-radius: 4px;
}

.round-border-3 {
  border-radius: 8px;
}

.background-1 {
  background-color: #eef1f3;
}

.background-2 {
  background-color: #e1e9ee;
}

.background-3 {
  background-color: #9ccbeb;
}

.highlight-1 {
  background-color: #eff7f8;
}

.highlight-2 {
  background-color: #eef1f3;
}

.highlight-3 {
  background-color: #eef1f3;
}

.focus-background {
  background-color: #eff7f8;
}

.focus-border {
  border-color: #888888;
}

.disable-border {
  border-color: silver;
}

.s-padding {
  padding: 2px;
}

.padding {
  padding: 5px;
}

.padding-2 {
  padding: 10px;
}

.disabled {
  color: silver;
  .border {
    border: 1px solid #dedede;
  }
}

.border {
  border: 1px solid silver;
  border-radius: 2px;
}

.focus {
  .border {
    border-color: rgb(177, 177, 224);
  }
}

*:focus {
  @extend .focus;
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.abs-fit {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.abs-fit-noscroll {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
}

.flex {
  display: flex;
  flex-grow: 1;
}

.flexrow {
  display: flex;
  flex-direction: row;
}

.flexcol {
  display: flex;
  flex-direction: column;
}

.flexgrow1 {
  flex-grow: 1;
}

.flexgrow0 {
  flex-grow: 0;
}

.flexrow0 {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
}

.flexrow1 {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.flexcol1 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.flexcol0 {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
}

.resizer {
  position: absolute;
  background-color: lightsteelblue;
  opacity: 0;
  &:hover {
    opacity: 1;
  }
}

.vertical-resizer {
  width: 5px;
  cursor: e-resize;
  &.fit-to-abs {
    top: 0px;
    bottom: 0px;
    left: unset;
    right: unset;
  }

  &.left {
    left: 0px;
  }
  &.center {
    right: -2.5px;
  }
  &.right {
    right: 0px;
  }
}

.horizontal-resizer {
  height: 5px;
  cursor: n-resize;
  &.fit-to-abs {
    right: 0px;
    left: 0px;
    top: unset;
    bottom: unset;
  }
  &.top {
    top: 0px;
  }
  &.center {
    bottom: -2.5px;
  }
  &.bottom {
    bottom: 0px;
  }
}

.fit-to-abs {
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

.icon-div {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;

  &.size32 {
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
  }
  &.size16 {
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
  }
}

.inputborder {
  input, input:focus {
    box-shadow: none;
    border: 1px solid lightgray;
    outline: none;
  }
}

@import './files-drop-container';
@import './drop-down';
@import './list-view';
@import './prop-sheet';
@import './slider';
@import './tabs';
@import './app-comp-layout';
@import './checkicon';
@import './cssicon';
@import './checkbox';
@import './textbox';
@import './timeline';
@import './volume-bar';
@import './grid';
@import './tags';
@import './progress';
@import './icon-svg';
