.drop-down-ctrl {
  background-color: white;
  user-select: none;

  &.disabled * {
    color: silver !important;
  }

  &:focus {
    @extend .focus-background;
    outline: none;
  }

  .drop-down-panel {
    display: none;
    z-index: 1000;
    position: absolute;
    border-radius: 0px 0px 2px 2px;
    border-top: none;
  }

  &.show-list {
    .drop-down-ctrl-wrapper {
      .input-wrap {
        border-radius: 2px 2px 0px 0px;
      }

      .list-view-ctrl.border {
        border-radius: 0px 0px 2px 2px;
      }
    }

    .drop-down-panel {
      display: block;
    }
  }

  &-wrapper {
    overflow: hidden;

    .input-wrap {
      display: flex;
      align-items: stretch;
      cursor: default;
      position: relative;
      box-sizing: border-box;
      padding-right: 4px;

      .button {
        flex-grow: 0;
        padding: 0px 0px 0px 4px;
        border-right: none;
        border-top: none;
        border-bottom: none;
        border-radius: 0px;
        display: flex;
        align-items: center;
      }
    }

    .input-box {
      flex-grow: 1;
      padding: 4px 0px 4px 4px;
      box-sizing: border-box;
      min-width: 0px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      input {
        border: none;
        outline: none;
        padding: 0px;
        font-family: inherit;
      }
    }
  }
}
