.drop-down-ctrl {
  background-color: white;
  user-select: none;

  &.disabled * {
    color: silver !important;
  }

  &:focus {
    @extend .focus-background;
    outline: none;
  }

  .drop-down-panel {
    display: none;
    z-index: 1000;
    position: absolute;
    border-radius: 0px 0px 2px 2px;
    border-top: none;
    box-shadow: 0px 3px 6px -1px rgba(0,0,0,0.75);
    background-color: white;
  }

  &.show-list {
    .drop-down-ctrl-wrapper {
      .input-wrap {
        border-radius: 2px 2px 0px 0px;
      }

      .list-view-ctrl.border {
        border-radius: 0px 0px 2px 2px;
      }
    }

    .drop-down-panel {
      display: block;
    }
  }

  &-wrapper {
    overflow: hidden;

    .input-wrap {
      display: flex;
      align-items: stretch;
      cursor: default;
      position: relative;
      box-sizing: border-box;
      height: 2em;

      .button {
        flex-grow: 0;
        padding: 0px 4px 0px 4px;
        border-right: none;
        border-top: none;
        border-bottom: none;
        border-radius: 0px;
        display: flex;
        align-items: center;
        position: absolute;
        right: 0px;
        top: 0px;
        bottom: 0px;
      }
    }

    .input-box {
      flex-grow: 1;
      padding: 4px 4px 4px 4px;
      box-sizing: border-box;
      min-width: 0px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: flex;
      position: absolute;
      top: 0px;
      bottom: 0px;
      right: 18px;
      left: 0px;
      align-items: center;

      input {
        flex-grow: 1;
        border: none;
        outline: none;
        padding: 0px;
        font: inherit;
      }
    }
  }
}

.no-data {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 3px;
  text-align: center;
}