.files-drop {
  &-overlay {
    @extend .abs-fit;
    background-color: transparent;
    display: flex;
  }

  &-overlay2 {
    @extend .abs-fit;
    background-color: black;
    opacity: 0.5;
  }

  &-content {
    @extend .abs-fit;
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  &-text {
    border-radius: 4px;
    border: 1px solid gray;
    background-color: white;
    padding: 5px;
  }
}
