.grid-custom {
}

.grid-header-col {
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #e8e8e8;
  padding-left: 5px;
  padding-right: 5px;

  &.fixed-col {
    background-color: #e3ede3;
  }

  &.border {
    border-left: 1px solid silver;
    border-right: 1px solid transparent;
    border-bottom: 1px solid silver;
    border-top: 1px solid silver;
    border-radius: 0px;

    &.last {
      border-right: 1px solid silver;
    }
  }

  .label-wrapper {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .vertical-resizer {
    opacity: 0;
  }
}

.grid-cell {
  box-sizing: border-box;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: white;

  &.grid-row-sel {
    background-color: #cce8ff;
  }

  &.grid-cell-sel {
    background-color: #74b9f3;
    color: white;
  }

  &.grid-focus-row {
    background-color: #e5f3ff;
  }

  &.border {
    border-left: 1px solid silver;
    border-right: 1px solid transparent;
    border-top: 1px solid silver;
    border-bottom: 1px solid transparent;
    border-radius: 0px;

    &.last-col {
      border-right: 1px solid silver;
    }
    &.last-row {
      border-bottom: 1px solid silver;
    }
  }

  &.cell-align-left {
    text-align: left;
  }

  &.cell-align-center {
    text-align: center;
  }

  &.cell-align-right {
    text-align: right;
  }
}
