.lw {
  display: flex;
  flex-grow: 1;

  &-el {
    position: relative;
    overflow: hidden;
  }

  &-column {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &-row {
    display: flex;
    flex-direction: row;
    position: relative;
  }
}