.list2-ctrl {
  overflow-y: auto;

  .list2-item {
    border: 1px solid transparent;
    box-sizing: border-box;
    &:hover {
      background-color: rgb(218, 225, 245);
    }
  }

  .list2-item:nth-child(odd) {
    background-color: rgb(226, 239, 255);
    &:hover {
      background-color: rgb(218, 225, 245);
    }
  }

  .list2-item.list2-select {
    background-color: rgb(200, 215, 255);
  }

  .list2-item.list2-focus {
    border: 1px solid rgb(44, 101, 255);
    box-sizing: border-box;
  }
}