$list-ctrl-border-color: silver;
$list-ctrl-padding: 3px;

.list-ctrl {
  display: flex;
  overflow: hidden;

  .list-ctrl-content {
    display: flex;
    flex-grow: 1;
    background-color: silver;
  }

  .list-ctrl-column {
    flex-grow: 1;
    min-width: 1px;
    overflow: hidden;
    white-space: nowrap;
  }

  .list-ctrl-row {
    position: relative;
    box-sizing: border-box;
    background-color: white;
    padding-left: $list-ctrl-padding;
    padding-right: $list-ctrl-padding;
  }

  .list-ctrl-header {
    position: relative;
    box-sizing: border-box;
    background-color: #f0f0f0;
    padding-left: $list-ctrl-padding;
    padding-right: $list-ctrl-padding;
  }

  .list-ctrl-selrow {
    background-color: #cce8ff;
  }

  .list-ctrl-cell {
    cursor: default;
    position: absolute;
    width: calc(100% - 6px);
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
  }
}

.list-ctrl.list-ctrl-border {
  .list-ctrl-content {
    border: 1px solid $list-ctrl-border-color;
  }

  .list-ctrl-row, .list-ctrl-header {
    border-bottom: 1px solid $list-ctrl-border-color;
    border-right: 1px solid $list-ctrl-border-color;
  }

  .list-ctrl-column {
    &:last-child {
      .list-ctrl-row, .list-ctrl-header {
        border-right: none;
      }
    }
  }
}