$prop-name-color: #e9e9e9;
$prop-group-color: lightgray;

.prop-sheet {
  outline: none;
  overflow: hidden;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  user-select: none;

  .prop-group {
    outline: none;

    > .wrap {
      overflow-y: auto;
    }

    .prop-group-header {
      user-select: none;
      cursor: default;
      background-color: $prop-group-color;
      padding: 3px;
      padding-left: 5px;
      font-weight: bold;
      display: flex;
      align-items: center;
      color: gray;
      border-bottom: 1px solid silver;

      .wrap {
        padding: 0px;
        min-width: 0px;
        flex-grow: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      i {
        flex-grow: 0;
        font-size: 150%;
      }
    }
  }

  .prop-item:first-child {
    margin-top: 0px;
  }

  .prop-item-wrap {
    padding: 5px;
  }

  .prop-item {
    justify-content: space-between;
    margin-top: 8px;
    cursor: default;

    .name-wrap {
      display: flex;
      align-items: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: silver;
      margin-bottom: 5px;
    }

    .value {
      display: flex;
      flex-grow: 1;
      align-items: end;
      justify-content: flex-end;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: right;
    }

    .value-wrap {
      position: relative;
      min-height: 1.6em;

      input {
        min-width: 0px;
        flex-grow: 1;
        text-align: right;
        text-overflow: ellipsis;

        outline: none;
        width: 100%;
        padding: 4px 3px 4px 3px;
        border: 1px solid silver;
        border-radius: 2px;

        &:focus {
          border-color: gray;
        }
      }
    }

    .pt-switch {
      margin-bottom: 0px;
      padding-left: 30px;
    }

    .pt-control.pt-switch.pt-disabled {
      .pt-control-indicator {
        background-color: silver;
      }
    }

    .fit {
      position: relative;
      display: flex;
      flex-grow: 1;

      .name-wrap {
        max-width: calc(50% - 5px);
        margin-right: 5px;
      }
      .value-wrap {
        white-space: nowrap;
      }
    }

    .slider-ctrl {
      flex-grow: 1;
    }

    .drop-down-ctrl {
      flex-grow: 1;
      text-align: left;
      overflow: hidden;
    }
  }

  .prop-item.inline {
    display: flex;

    .name-wrap {
      margin: 0px;
      margin-right: 5px;
      max-width: 50%;
    }

    .fit {
      position: absolute;
      left: 0px;
      top: 0px;
      right: 0px;
      bottom: 0px;
      display: flex;
    }
  }

  &.debug {
    .name-wrap {
      border: 1px solid green;
    }

    .value-wrap {
      border: 1px solid green;
    }
  }
}
