$prop-name-color: #e9e9e9;
$prop-group-color: lightgray;

.prop-sheet {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  outline: none;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-sizing: border-box;
  user-select: none;

  &-wrap {
    position: relative;

    &.fit-to-abs {
      left: 0px;
      right: 0px;
      position: absolute;
      top: 0px;
      bottom: 0px;
    }
  }

  .prop-group {
    outline: none;
    position: relative;

    > .wrap {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
    }

    .prop-group-header {
      user-select: none;
      cursor: default;
      background-color: $prop-group-color;
      padding: 0px;
      padding-left: 5px;
      padding-right: 5px;
      font-weight: bold;
      display: flex;
      align-items: center;
      color: gray;
      border-bottom: 1px solid silver;

      .wrap {
        padding: 0px;
        min-width: 0px;
        flex-grow: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .arrow {
        flex-grow: 0;
        font-size: 150%;
      }
    }
  }

  .prop-item:first-child {
    margin-top: 0px;
  }

  .prop-item-wrap {
    padding: 5px;
  }

  .prop-item {
    justify-content: space-between;
    margin-top: 4px;
    cursor: default;

    .name-wrap {
      display: flex;
      align-items: center;
      white-space: nowrap;
      // overflow: hidden;
      // text-overflow: ellipsis;
      color: gray;
      margin-bottom: 0px;
      font-weight: bold;
    }

    .value {
      min-height: 1.5em;
      line-height: 1.5em;
      color: gray;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: right;
      white-space: nowrap;
    }

    &.grow {
      .value {
        flex-grow: 1.3;
      }
    }

    .value-wrap {
      position: relative;

      input {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid silver;
        min-width: 0px;
        flex-grow: 1;
        text-align: right;
        text-overflow: ellipsis;

        outline: none;
        width: 100%;
        padding: 4px 3px 4px 3px;

        &:focus {
          border-color: rgb(63, 185, 255);
        }
      }
    }

    .pt-switch {
      margin-bottom: 0px;
      padding-left: 30px;
    }

    .pt-control.pt-switch.pt-disabled {
      .pt-control-indicator {
        background-color: silver;
      }
    }

    .fit {
      position: relative;
      display: flex;
      flex-grow: 1;

      .name-wrap {
        // max-width: calc(50% - 5px);
        margin-right: 5px;
      }
      .value-wrap {
        white-space: nowrap;
      }
    }

    .slider-ctrl {
      flex-grow: 1;
    }

    .drop-down-ctrl {
      flex-grow: 1;
      text-align: left;
      overflow: hidden;
    }
  }

  .prop-item.inline {
    display: flex;

    .name-wrap {
      display: inline-block;
      margin: 0px;
      margin-right: 5px;
    }

    .value {
      display: inline-block;
    }

    .fit {
      position: absolute;
      left: 0px;
      top: 0px;
      right: 0px;
      bottom: 0px;
      display: flex;
    }
  }

  &.debug {
    .name-wrap {
      border: 1px solid green;
    }

    .value-wrap {
      border: 1px solid green;
    }
  }
}
