.range-slider-ctrl {
  position: relative;
  height: 20px;
  user-select: none;

  &.disabled {
    .range-slider-ctrl-slider {
      background-color: silver;
    }
    .range-slider-ctrl-thumbrange {
      background-color: silver;
    }
  }

  &-slider {
    position: absolute;
    background-color: white;
    width: 10px;
    height: 20px;
    border: 1px solid gray;
    box-sizing: border-box;

    &.slider-active {
      background-color: white;
    }
  }

  &-thumb {
    position: absolute;
    top: 5px;
    bottom: 5px;
    background-color: gray;
    &.slider-active {
      background-color: gray;
    }
  }

  &-thumbrange {
    position: absolute;
    top: 5px;
    bottom: 5px;
    background-color: #86b3c8;
    &.slider-active {
      background-color: #86b3c8;
    }
  }
}
