.tabs-ctrl {
  white-space: nowrap;
  overflow-x: hidden;

  .tab-content {
    padding: 5px;
  }

  .tabs-wrap {
    display: flex;
    padding-top: 2px;
  }

  &.background {
    .tabs-wrap {
      background-color: #ececec;
    }
  }

  .tabs-spacer {
    flex-grow: 1;
    border-bottom: 1px solid silver;
  }

  .tab-ctrl {
    flex-shrink: 0;
    display: inline-block;
    cursor: default;
    user-select: none;
    border: none;
    color: #6d6d6d;
    .tab-wrap {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 8em;
      padding-top: 4px;
      padding-bottom: 4px;
      padding-left: 8px;
      padding-right: 8px;
      border: 1px solid transparent;
      border-bottom: 1px solid silver;
    }
  }

  .tab-ctrl.select {
    background-color: white;
    border: none;
    position: relative;
    color: black;
    .tab-wrap {
      border: 1px solid silver;
      border-bottom: 1px solid transparent;
    }
  }
  .tab-ctrl.select + .tab-ctrl  {
    border-left: none;
  }
}

.tabs-ctrl.disabled {
  opacity: 0.5;
}