.tabs-ctrl {
  white-space: nowrap;
  overflow-x: hidden;
  .tab-content {
    padding: 5px;
  }
  .tabs-wrap {
    display: flex;
    padding-top: 2px;
    background-color: #ececec;

    > .tab-ctrl {
      border-left: 1px solid lightgray; 
    }
  
    > .tab-ctrl:first-child {
      border-left: 1px solid transparent;
    }
  }
  .tabs-spacer {
    flex-grow: 1;
    border-bottom: 1px solid silver;
    background-color: #ececec;
  }
  .tab-ctrl {
    flex-shrink: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #ececec;
    cursor: default;
    user-select: none;
    border-bottom: 1px solid silver;
    border-top: 1px solid transparent;
    color: #6d6d6d;
  }

  .tab-ctrl.select {
    background-color: white;
    border: 1px solid silver;
    border-bottom: none;
    position: relative;
    color: black;
  }
  .tab-ctrl.select + .tab-ctrl  {
    border-left: none;
  }
}

.tabs-ctrl.disabled {
  opacity: 0.5;
}