.text-editor {
  line-height: 1.5;
  background-color: white;
  height: 300px;
  overflow-y: auto;

  &-ent {
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 4px;
    display: inline;
    cursor: pointer;
  }

  &-focus-ent {
    color: gray;
  }

  .ent-link {
    background-color: transparent;
    color: #106ba3;
    cursor: pointer;
    text-decoration: underline;
  }

  .public-DraftEditor-content {
    ::selection {
      background-color: #e0e0e0;
    }
    &:focus {
      ::selection {
        background-color: #bbd3fd;
      }
    }
  }
}

.text-view {
  &-ent {
    display: inline;
  }
}
