.tree-ctrl {
  user-select: none;

  .list-ctrl-content {
    background-color: white;
  }

  .tree-ctrl-item {
    i {
      margin-right: 5px;
      vertical-align: middle;
    }
  }

  .tree-ctrl-imgicon {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
  }

  .tree-ctrl-emptyicon {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
  }
}