.volume-bar {
  position: relative;
  display: inline-block;

  .bar {
    position: absolute;
    background-color: silver;
  }

  .value-bar {
    position: absolute;
    bottom: 0;
    background-color: green;
  }

  .value-text {
    cursor: default;
    position: absolute;
    font-size: 10pt;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
  }
}