.files-drop {
  &-overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0.5;
    background-color: white;
    display: flex;
  }

  &-content {
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    pointer-events: none;
  }
}
